{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "firefox": "52"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}